# Phoenix
SECRET_KEY_BASE=

# Database Connections
DATABASE_URL=postgresql://postgres:postgres@db:5432/fogex_dev
EVENT_STORE_URL=postgresql://postgres:postgres@db:5432/eventstore_dev

# AppSignal
APPSIGNAL_PUSH_API_KEY=